@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    font-family: "Poppins", sans-serif;
  

    scroll-behavior: smooth;
}



*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--primaria);
}

:root {
    --primaria: #e7b364;
    --secundaria: #fff;
    --buttons: #dd22ddb4;
    
}



.app {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    
}

section {
    position: relative;

    flex: 1;

    min-height: 110%;

    padding: 20px;

    overflow: hidden;
}

.cincle {
    background-color: var(--primaria);
    width: 400px;
    height: 500px;

    position: absolute;

    right: var(--x);
    top: var(--y);

    max-height: 600px;

   
   border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}



.cinclex {
    background-color: var(--primaria);
    width: 300px;
    height: 300px;

    position: absolute;

    right: var(--x);
    top: var(--y);
    border-radius: 50%;

    
}


.center {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10%;

    z-index: 999;
}


.center.swws {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 10%;

    z-index: 999;
}


.infos {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 700px;

    z-index: 99999999;

}
.infos h1 {
    color: #b37211;
    font-weight: bold;
    font-size: 2rem;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #5f4620;
}

.buttons a {
    padding: 20px;
    background-color: var(--primaria);
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    
    animation: animar 1s linear infnite;
    
    
}

.buttons a:nth-child(1){
    color: white;
    border: none;
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    animation: flutuar 2s infinite ease-in-out;
    box-shadow: 0px 4px 10px #bb9107fb;
    transition: transform 0.3s, box-shadow 0.3s;

    font-weight: bold;
    font-size: 1.2rem;
}

.btn-flutuante:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

@keyframes flutuar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}


.buttons a:last-child {
    background-color: var(--secundaria);
    color: var(--primaria);
}
.card_img {
    max-width: 320px;

    z-index: 99;
}

.card_img img {
    max-width: 100%;
    transform: rotate(3deg);
}



.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100%;

    z-index: 99999;

    flex-wrap: wrap;

}

.test_mu {
  background-color: #fff;
  box-shadow: 0 0 10px 5px #0000003b;
  padding: 10px;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: .8rem;

  min-width: 200px;

  max-width: 400px;
  min-height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.cards .card {
    min-width: 250px;

    height: 300px;
    min-height: 260px;
    border-radius: 10px;

    max-width: 260px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 20px;

    text-align: center;

    background-color: var(--secundaria);
    z-index: 999;

    box-shadow: 0 0 10px 5px #0000003b;
}

.cards .card strong {
    color: var(--primaria);
    font-weight: bold;
    font-size: 1.2rem;
}
.cards .card p {
    font-weight: .8rem;
    padding-bottom: 10px;
    
    
}


@media (max-width: 700px) {

    .center {
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .card_img {
        min-width: 250px;
        
    }

    .center {
        justify-content: center;
        gap: 30px;
    }

    .infos {
        justify-content: center;
        align-items: center;

        gap: 30px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        width: 100vw;

        gap: 10px;
        flex-wrap: nowrap;
        

    }

    .cards .card {
        max-height: 250px;
        min-height: 220px;
        
        max-width: 220px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
        text-align: center;
        
        gap: 10px;
        
        padding: 0 20px;
    }
    
    .cards .card p {
      font-size: .7rem;
    }

    

}